doctype html
html
  head
    meta(charset='utf-8')
    title Gregsumé
    meta(name='description', content='')
    // meta(name='viewport', content='width=device-width')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet', href='http://brick.a.ssl.fastly.net/Inconsolata:500')
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browsehappy
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser 
      | to improve your experience.
    <![endif]-->
    #main-column
      #identity
        h1#name= resume.identity.name
        #tagline
          = resume.identity.tagline
        #subtag= resume.identity.subtag
        #links
          - for link in resume.identity.links
            a(href= link.url)= link.title
            .middot &middot;

      .section.expertise
        - section = resume.sections.expertise
        h2.section-title= section.title
        .contents
          .description!= section.description

      .section.skills
        - section = resume.sections.skills
        h2.section-title= section.title
        .contents.tags
          - for tag in section.tags
            .tag= tag

      .section
        - section = resume.sections.experience
        h2.section-title= section.title
        .contents
          - for job in section.jobs
            .entry
              .job-title
                .position= job.title
                .at
                  | at
                - if(job.website)
                  a.employer(href=job.website[0])
                    = job.employer
                    img.external-link(src="images/external-link.png", alt="external link")
                - else
                  .employer
                    = job.employer
              - if(job.dates && false)
                .dates
                  .middot &middot; 
                  = job.dates
              .description
                .middot &middot;
                != job.description
              .tags
                - for tag in job.tags
                  .tag= tag
      .section
        - section = resume.sections.education
        h2.section-title= section.title
        .contents
          - for school in section.schools
            .job-title
              = school.name
              br
              .employer= school.degree
            .description
              .middot &middot;
              != school.description

      .view-on-github
        a(href='https://github.com/itsgreggreg/Gregsume') View this project on github.

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild

