doctype html
html
  head
    meta(charset='utf-8')
    title= resume.title
    //                                                      
    // ,ggg,        gg                                      
    // dP""Y8b       88           ,dPYb, ,dPYb,             
    // Yb, `88       88           IP'`Yb IP'`Yb             
    //  `"  88       88           I8  8I I8  8I             
    //      88aaaaaaa88           I8  8' I8  8'             
    //      88"""""""88   ,ggg,   I8 dP  I8 dP    ,ggggg,   
    //      88       88  i8" "8i  I8dP   I8dP    dP"  "Y8ggg
    //      88       88  I8, ,8I  I8P    I8P    i8'    ,8I  
    //      88       Y8, `YbadP' ,d8b,_ ,d8b,_ ,d8,   ,d8'  
    //      88       `Y8888P"Y8888P'"Y888P'"Y88P"Y8888P"    
    //                                                      
    meta(name='description', content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet', href='http://brick.a.ssl.fastly.net/Inconsolata:500')
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css', media='screen')
    // endbuild
    // build:css(.tmp) styles/print.css
    link(rel='stylesheet', href='styles/print.css', media='print')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browsehappy
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser 
      | to improve your experience.
    <![endif]-->
    - identity = resume.identity
    if identity.avatar
      #avatar-light-box
        img(src= identity.avatar, alt= identity.name)
    #main-column
      #identity
        #icon
          img(src= identity.icon, alt="Icon")
        #avatar
          a(href="")
            img(src= identity.avatar, alt= identity.name)
        #text-details
          h1#name= resume.identity.name
          if identity.tagline
            #tagline= identity.tagline
          if identity.subtag
            #subtag= identity.subtag
          #contact
            #phone= identity.phone
          if identity.links
            #links
              - for link in resume.identity.links
                a(href= link.url)= link.title
                .middot &middot;
            ul#links-for-print
              - for link in resume.identity.links
                li= link.url

      - for section in resume.sections
        .section
          h2.title= section.title
          .contents
            if section.description
              .description
                .middot &middot;
                != section.description

            if section.tags
              .tags
                - for tag in section.tags
                  .tag= tag

            if section.entries
              - for entry in section.entries
                - institution = (entry.employer || entry.university)
                .entry
                  .heading
                    .title= (entry.title || entry.degree)
                    .at at
                    if entry.website
                      a.institution(href=entry.website)
                        = institution
                        img.external-link(src="images/external-link.png", alt="external link")
                      span.institution-link-url= entry.website
                    - else
                      span.institution= institution
                  if entry.description
                    .description
                      if entry.logo
                        img.logo(src= entry.logo, alt= institution)
                      .middot &middot;
                      != entry.description
                  if entry.tags
                    .tags
                      - for tag in entry.tags
                        .tag= tag

            if section.examples
              .examples
                - for example in section.examples
                  a.example(href= example.url)
                    img.icon(src=example.icon, alt= example.title)
                    .title= example.title
                    .url= example.url

      .view-on-github
        a(href='https://github.com/itsgreggreg/Gregsume') View this project on github.
      .view-resume-online
        | View this resume online at:
        = " " + resume.url

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild

