doctype html
html
  head
    meta(charset='utf-8')
    title Gregsumé
    //                                                      
    // ,ggg,        gg                                      
    // dP""Y8b       88           ,dPYb, ,dPYb,             
    // Yb, `88       88           IP'`Yb IP'`Yb             
    //  `"  88       88           I8  8I I8  8I             
    //      88aaaaaaa88           I8  8' I8  8'             
    //      88"""""""88   ,ggg,   I8 dP  I8 dP    ,ggggg,   
    //      88       88  i8" "8i  I8dP   I8dP    dP"  "Y8ggg
    //      88       88  I8, ,8I  I8P    I8P    i8'    ,8I  
    //      88       Y8, `YbadP' ,d8b,_ ,d8b,_ ,d8,   ,d8'  
    //      88       `Y8888P"Y8888P'"Y888P'"Y88P"Y8888P"    
    //                                                      
    meta(name='description', content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet', href='http://brick.a.ssl.fastly.net/Inconsolata:500')
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browsehappy
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser 
      | to improve your experience.
    <![endif]-->
    #main-column
      #identity
        #icon
          img(src="images/cycle.png", alt="Cycle logo")
        h1#name= resume.identity.name
        #tagline
          = resume.identity.tagline
          .sup &#8482;
        #subtag= resume.identity.subtag
        #links
          - for link in resume.identity.links
            a(href= link.url)= link.title
            .middot &middot;

      .section.expertise
        - section = resume.sections.expertise
        h2.section-title= section.title
        .contents
          .description!= section.description

      .section.skills
        - section = resume.sections.skills
        h2.section-title= section.title
        .contents.tags
          - for tag in section.tags
            .tag= tag

      .section
        - section = resume.sections.experience
        h2.section-title= section.title
        .contents
          - for job in section.jobs
            .entry
              .job-title
                .position= job.title
                .at
                  | at
                - if(job.website)
                  a.employer(href=job.website[0])
                    = job.employer
                    img.external-link(src="images/external-link.png", alt="external link")
                - else
                  .employer
                    = job.employer
              - if(job.dates && false)
                .dates
                  .middot &middot; 
                  = job.dates
              .description
                .middot &middot;
                != job.description
              .tags
                - for tag in job.tags
                  .tag= tag
      .section
        - section = resume.sections.education
        h2.section-title= section.title
        .contents
          - for school in section.schools
            .job-title
              = school.name
              br
              .employer= school.degree
            .description
              - if(school.name.trim() === "California State University Northridge")
                img.logo(src= "images/csun_seal.png", alt="CSUN Logo")
              .middot &middot;
              != school.description
      .section
        - section = resume.sections.extra
        h2.section-title= section.title
        .contents
          .project-icons
            - for project in section.projects
              a.project-icon(href=project.url)
                - var project_icon = "images/"+project.icon
                img(src=project_icon, alt=project.title)

      .view-on-github
        a(href='https://github.com/itsgreggreg/Gregsume') View this project on github.

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild

